<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D.Card Personal HTML Template</title>
    <!-- Bootstrap -->
    <link th:href="@{'../bootstrap/css/bootstrap.min.css'}" rel="stylesheet">

    <!-- CSS Font Icon and Plugins -->
    <link th:href="@{'../assets/font/fa/css/font-awesome.min.css'}"  rel="stylesheet">
    <link th:href="@{'../assets/font/tello/css/fontello.css'}"  rel="stylesheet">
    <link th:href="@{'../assets/css/magnific-popup.css'}"  rel="stylesheet">
    <link th:href="@{'../assets/css/animation.css'}"  rel="stylesheet">
    <!-- Theme of Design -->
    <link th:href="@{'../assets/css/style.css'}"  rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" th:href="@{'../assets/images/faicon.png'}" >
    <link rel="apple-touch-icon" sizes="129x129" th:href="@{'../assets/images/icon.png'}">
    
<!--    <link th:href="@{'../assets/css/yourcss.css'}"  rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <script type="text/javascript" th:src="@{../bootstrap/js/jquery.min.js}"></script>
<!--      <script src="http://d3js.org/d3.v3.min.js"></script>-->
    <script th:src="@{../js/d3.min.js}"  charset="utf-8"></script>
  </head>
  <!--210: send task-->
  <body>

    <div id="wrapper">
      <div class="container" >
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">


            <header class="portrait">
              <div class="bg-line"></div>
              <div class="body-portrait">


                <div class="box-note">
                  <div id="slider-note" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                      <div class="item active">
                        Welcome to Data Acquisition System
                      </div>
                      <div class="item">
                        If you encounter problems, please contact the administrator at 263522@qq.com
                      </div>
                    </div>
                  </div>
                </div>

                <div class="portrait-img-area">
                  <img src="../assets/images/yangtes.png" alt="avatar" class="avatar"/>
                  <!--<div class="profile-links">-->
                    <!--<a href="" class="facebook"  data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                    <!--<a href="" class="twitter"  data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                  <!--</div>-->
                </div>

                  <!--/*@thymesVar id="user" type="com.example.springbootsql.entity.User"*/-->
                <h1 class="name" th:text="${user.name}"><small>freelance web designer</small></h1>
                <img src="../assets/images/arrow-down.png" alt="" class="img-arrow">
                <a href="javascript:void(0)" class="btn btn-flat " id="open-content">Let's start!</a>
                <img src="../assets/images/arrow-down.png" alt="" class="img-arrow">


              </div>
            </header>

            <section class="content" id="main-content">


              <nav id='navigation'>
                <ul class="navigation-list clearfix list-unstyled">
                  <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="icon-pencil"></i> <span>Send Task</span></a></li>
                  <li><a href="#resume" data-toggle="tab" data-menu="resume"><i class="icon-newspaper"></i>  <span>Task Progress</span></a></li>
                  <li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="icon-folder-open"></i> <span>ServerStatus</span></a></li>
                  <li><a href="#blog" data-toggle="tab" data-menu="blog"><i class="icon-pencil"></i> <span >PersonInfo</span></a></li>
                  <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>
                </ul>
              </nav>

              <div class="tab-content">


                <div id='about' class="tab-pane  fade in  active">
                    <!--/*@thymesVar id="partial" type="java.lang.String"*/-->
                    <h1 th:text="${partial}"></h1>
                  <div class="body-content">
                      <h2 style="color:green;margin: 10px 350px;text-align:center">任务下达</h2>
                      <!--/*@thymesVar id="taskMessage" type="com.example.springbootsql.entity.TaskMessage"*/-->
                      <div id="part_div" style="top:100px;" class="form-horizontal"  th:fragment="part_div"  >

                          <div class="form-group" style="width:300px;margin: 20px auto;">
                              <label for="name" class="col-sm-2 control-label">task name</label>
                              <div class="col-sm-10">
                                  <input type="text"  class="form-control" id="name" placeholder="Enter target PersonUrl">
                              </div>
                          </div>

                          <div class="form-group" style="width:300px;margin: 20px auto;">
                              <label for="url" class="col-sm-2 control-label">URL</label>
                              <div class="col-sm-10">
                                  <input type="text"  class="form-control" id="url" placeholder="Enter target PersonUrl">
                              </div>
                          </div>


                          <div class="form-group" style="margin: 20px auto;width:115px;">
                              <div>
                                  <button class="btn btn-primary" id="btn" onclick="ceshi1()">发送</button>
                                  <input type="reset" class="btn btn-warning" value="重置" />
                              </div>
                          </div>
                      </div>
                  </div>
                </div>


                <!--/*@thymesVar id="taskFromData" type="java.util.List"*/-->
                <!--/*@thymesVar id="taskmessage" type="com.example.springbootsql.entity.TaskMessage"*/-->
                <!--/*@thymesVar id="serverStatusList" type="java.util.List"*/-->
                <!--/*@thymesVar id="serverStatus" type="com.example.springbootsql.entity.ServerStatus"*/-->
                <div id='resume' class="tab-pane fade">

                    <div class="body-content">
                        <h2 style="color:green;margin: 10px 350px;text-align:center">采集进度</h2>
                        <div class="box-block">
                            <ul th:each="taskmessage : ${taskFromData}" class="list-unstyled list-skills" id="add_progress_bar">
                                <li>
                                    <span class="caption-skill" th:text="${taskmessage.targetPersonUrl}">Ruby On Rails</span>
                                    <div class="progress">
                                        <div class="progress-bar" th:style="'width:'+${taskmessage.progress}+'%'">
                                            <span th:text="${taskmessage.progress}+'%'"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </div>

                        <table id="process_table" class="table table-bordered table table-hover" style="width:800px;margin: 0 auto;">
                            <tr style="color:red">
                                <th>TIME</th>
                                <th>TASKCODE</th>
                                <th>URL</th>
                                <th>PROCESS</th>
                            </tr>
                            <tr th:each="taskmessage : ${taskFromData}">
                                <td th:text="${taskmessage.time}"></td>
                                <td th:text="${taskmessage.taskCode}"></td>
                                <td th:text="${taskmessage.targetPersonUrl}"></td>
                                <td th:text="${taskmessage.progress}"></td>
                            </tr>
                        </table>
                    </div>
                    <label id="clock"></label>

                </div>


                <div id='portfolio' class="tab-pane fade">
                  <div class="body-content">
                      <h2 style="color:green;margin: 10px 350px;text-align:center">采集节点状态</h2>
                    <table id="server_status_table" class="table table-bordered table table-hover" style="width:800px;margin: 0 auto;">
                      <tr style="color:red">
                        <th>Server</th>
                        <th>ServerIndex</th>
                        <th>Status</th>
                      </tr>

                      <tr th:each="serverStatus : ${serverStatusList}">
                        <td th:text="${serverStatus.server}"></td>
                        <td th:text="${serverStatus.server_index}"></td>
                        <td th:text="${serverStatus.status}"></td>
                      </tr>
                    </table>
                  </div>
                </div>


                <div id='blog' class="tab-pane fade">
                  <div class="body-content">
                      <h2 style="color:green;margin: 10px 350px;text-align:center">目标人信息</h2>
                        <svg></svg>
                  </div>
                </div>


                <div id='contact' class="tab-pane fade">
                    <div class="body-content">
                        <h2 style="color:green;margin: 10px 350px;text-align:center">好友信息表</h2>
                        <table id="friends_table" class="table table-bordered table table-hover" style="width:800px;margin: 0 auto;">
                            <tr style="color:red">
                                <th>Name</th>
                                <th>FacebookURL</th>
                                <th>Gender</th>
                                <th>BirthDay</th>
                                <th>Introduction</th>
                            </tr>

                        </table>
                    </div>
                </div>

              </div>



              <a id="backtotop" href="#"><i class="fa fa-arrow-up"></i></a>
              <div class="bg-line"></div>
            </section>

            <footer class="footer">
              Design By YanChangze
            </footer>

          </div>
        </div>
      </div>
    </div>

    <div id="wait-page" class="text-center">Loading...</div>



    <a href="modal_configuration.html" class="configuration ajax_link"><i class="fa fa-cog"></i> Configuration</a>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"> </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--    <script src="https://code.jquery.com/jquery.js"></script>-->

    <!-- jQuery animation page loader -->
    <script src='../assets/js/pace.min.js'></script>

    <!-- JS maps for gmap3 JavaScript plugins) -->
<!--    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../assets/js/jquery.autofix_anything.js"></script>
    <script src="../assets/js/jquery.mixitup.min.js"></script>
    <script src='../assets/js/gmap3.min.js'></script>

    <script src='../assets/js/jquery.magnific-popup.min.js'></script>

    <!-- Configuration app js -->
    <script src="../assets/js/app.js"></script>

  </body>
  <script>
      var int=self.setInterval("clock()",50);
      function clock() {
          var realTime=new Date();
          document.getElementById("clock").innerHTML=realTime;
      }
      var websocket = null;
      var dataQueryWebSocket=null;
      //判断当前浏览器是否支持WebSocket
      if ('WebSocket' in window) {
          websocket = new WebSocket('ws://localhost:8080/websocket');
          dataQueryWebSocket=new WebSocket('ws://localhost:8080/freshDatabase');
      }
      else {
          alert('当前浏览器 Not support websocket')
      }

      //连接发生错误的回调方法
      websocket.onerror = function () {
          setMessageInnerHTML("WebSocket连接发生错误");
      };

      //连接成功建立的回调方法
      websocket.onopen = function () {
          setMessageInnerHTML("WebSocket连接成功");
      };

      //接收到消息的回调方法
      websocket.onmessage = function (event) {
          setMessageInnerHTML(event.data);
          // var jsonStr='{"ui_mask":"serverStatus","server_status_list":[{"server":"xxx","server_index":1,"status":"stopped"},{"server":"xxx","server_index":0,"status":"stopped"}]}';
          var jsonObject=JSON.parse(event.data);
          var ui_mask=jsonObject.ui_mask;
          switch (ui_mask) {
              case "serverStatus":
                  var jsonArray=jsonObject.server_status_list;
                  var table=document.getElementById('server_status_table');
                  var trs=table.getElementsByTagName('tr');
                  for(var j=trs.length-1;j>1;j--){
                      table.deleteRow(j);
                  }
                  for(var k=0;k<jsonArray.length;k++){
                      var oTr=document.createElement('tr');
                      for(var m=0;m<3;m++){
                        var oTd=document.createElement('td');
                        oTr.appendChild(oTd);
                      }
                      table.appendChild(oTr);
                  }

                  for(var i=0;i<jsonArray.length;i++){
                    var col=table.rows[i+1].cells;
                    var subJsonObj=jsonArray[i];
                    var server=subJsonObj.server;
                    var server_index=subJsonObj.server_index;
                    var status=subJsonObj.status;
                    col[0].innerHTML =server;
                    col[1].innerHTML =server_index;
                    col[2].innerHTML=status;
                    console.log(server+" "+server_index+" "+status);
                  }
                  break;
            case "bubble":
                  var userName=jsonObject.name;
                  var facebookUrl=jsonObject.facebookUrl;
                  var relationship=jsonObject.relationship;
                  var favorite_quotes=jsonObject.favorite_quotes;
                  var introduction=jsonObject.introduction;
                  var gender=jsonObject.gender;
                  var language=jsonObject.language;
                  var interest_in=jsonObject.interest_in;
                  var religious_views=jsonObject.religious_views;
                  var political_views=jsonObject.political_views;
                  var birth_day=jsonObject.birth_day;
                  var professional_skills=jsonObject.professional_skills;
                  var friendNameList=jsonObject.friendsList;
                  console.log(userName,facebookUrl,relationship,favorite_quotes,introduction,gender,language);
                  var nodes = [ { name: userName }, { name: facebookUrl },
                    { name: relationship }, { name: favorite_quotes },
                    { name: introduction }, { name: gender },
                    { name: language } ,{name:interest_in},
                      {name:religious_views},{name:political_views},
                      {name:birth_day},{name:professional_skills},
                      {name:"Friends"}];
                  for(var s=0;s<friendNameList.length;s++){
                      dic={name:friendNameList[s]};
                      nodes.push(dic);
                  }
                    var edges=[];
                    for(var t=1;t<13;t++){
                        dic={source:0,target:t};
                        edges.push(dic);
                    }
                    for(var q=0;q<friendNameList.length;q++){
                        dic={source:12,target:q+13};
                        edges.push(dic);
                    }
                  // var edges = [ { source : 0 , target: 1 } , { source : 0 , target: 2 } ,   //试了下，source和target不能换名字的
                  //   { source : 0 , target: 3 } , { source : 0 , target: 4 } ,
                  //   { source : 0 , target: 5 } , { source : 0 , target: 6 } ,{source:0,target:7}];
                  drawBubble(nodes,edges);
                  break;
              case "friendsData":
                  var friendsJsonArray=jsonObject.friendsList;
                  var friendsTab=document.getElementById('friends_table');
                  var friendsTabTrs=friendsTab.getElementsByTagName('tr');
                  for(var r=friendsTabTrs.length-1;r>1;r--){
                      friendsTab.deleteRow(r);
                  }
                  for(var k1=0;k1<friendsJsonArray.length;k1++){
                      var friendsOTr=document.createElement('tr');
                      for(var m1=0;m1<5;m1++){
                          var friendsOTd=document.createElement('td');
                          friendsOTr.appendChild(friendsOTd);
                      }
                      friendsTab.appendChild(friendsOTr);
                  }

                  for(var ia=0;ia<friendsJsonArray.length;ia++){
                      var friendCol=friendsTab.rows[ia+1].cells;
                      var subFriendsJsonObj=friendsJsonArray[ia];
                      var name=subFriendsJsonObj.name;
                      var facebook_url=subFriendsJsonObj.facebook_url;
                      var genders=subFriendsJsonObj.gender;
                      var birthDay=subFriendsJsonObj.birth_day;
                      var introductions=subFriendsJsonObj.introduction;
                      friendCol[0].innerHTML =name;
                      friendCol[1].innerHTML =facebook_url;
                      friendCol[2].innerHTML=genders;
                      friendCol[3].innerHTML=birthDay;
                      friendCol[4].innerHTML=introductions;
                  }
                  break;
          }
      };

      //连接关闭的回调方法
      websocket.onclose = function () {
          setMessageInnerHTML("WebSocket连接关闭");
      };

      window.onbeforeunload=function () {
          websocket.close();
      };

      dataQueryWebSocket.onerror = function () {
          setMessageInnerHTML("dataQueryWebSocket连接发生错误");
      };

      //连接成功建立的回调方法
      dataQueryWebSocket.onopen = function () {
          setMessageInnerHTML("dataQueryWebSocket连接成功");
      };

      //接收到消息的回调方法
      dataQueryWebSocket.onmessage = function (event) {
          setMessageInnerHTML(event.data);
          refreshData(event.data)
      };
      function refreshData(jsonStr){
          var jsonArray=$.parseJSON(jsonStr);
          var data_len=jsonArray.length;
          var table=document.getElementById('process_table');
          console.log('data length: '+data_len);
          var trs=table.getElementsByTagName('tr');
          for(var j=trs.length-1;j>1;j--){
              table.deleteRow(j);
          }
          $("#add_progress_bar li").remove();

          for(var k=0;k<data_len;k++){
              var oTr=document.createElement('tr');
              for(var m=0;m<4;m++){
                  var oTd=document.createElement('td');
                  oTr.appendChild(oTd);
              }
              table.appendChild(oTr);
          }

          console.log("table length"+table.rows.length);
          for(var i=0;i<data_len;i++){
              var col=table.rows[i+1].cells;
              var jsonObject=jsonArray[i];
              col[0].innerHTML =jsonObject.time;
              col[1].innerHTML =jsonObject.task_code;
              col[2].innerHTML=jsonObject.target_person_url;
              col[3].innerHTML=jsonObject.task_progress;
              console.log(jsonObject.task_progress);
              var task_progress=jsonObject.task_progress+'%';
              var task_code=jsonObject.task_code;
              var txt='<li><span class="caption-skill">'+task_code+'</span><div class="progress"><div class="progress-bar" style="width: '+task_progress+';"><span>'+task_progress+'</span></div></div></li>';
              $('#add_progress_bar').append(txt);
          }
      }

      //连接关闭的回调方法
      dataQueryWebSocket.onclose = function () {
          setMessageInnerHTML("dataQueryWebSocket连接关闭");
      };


      window.onbeforeunload = function () {
          websocket.send('kafkastop');
          closeWebSocket();
      };

      //将消息显示在网页上
      function setMessageInnerHTML(innerHTML) {
          // document.getElementById('message').innerHTML += innerHTML + '<br/>';
          console.log(innerHTML);
      }

      //关闭WebSocket连接
      function closeWebSocket() {
          websocket.close();
      }

      //发送消息
      function send() {
          var message = document.getElementById('text').value;
          websocket.send(message);
      }
      function ceshi1(message) {
          // alert('ceshi');
          var name=$('#name').val();
          var url=$('#url').val();

          var myDate=new Date();
          var now=myDate.getTime();

          var taskCode =now+uuid(8,16);
          var j={};
          j.task_name=name;
          j.target_person_url=url;
          j.task_code=taskCode;
          var jsonStr=JSON.stringify(j);
          // alert(jsonStr);
          $.ajax({
              url:"/distributeTask",
              data:{
                  "jsonStr":jsonStr
              },
              type:"post",
              dataType:"json",
              success:function (res) {

              },
              error:function (msg) {

              }
          });
          $('#name').val("");
          $('#url').val("");
          var xxx1='XXX1';
          var num='0%';
          var txt='<li><span class="caption-skill">'+xxx1+'</span><div class="progress"><div class="progress-bar" style="width: '+num+';"><span>'+num+'</span></div></div></li>';

          $('#add_progress_bar').append(txt);

          alert('发送成功！')
          // $('#btn').load("/distributeTask");
      }
      function uuid(len, radix) {
          var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
          var uuid = [], i;
          radix = radix || chars.length;

          if (len) {
              // Compact form
              for (i = 0; i < len; i++) uuid[i] = chars[0 | Math.random()*radix];
          } else {
              // rfc4122, version 4 form
              var r;

              // rfc4122 requires these characters
              uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
              uuid[14] = '4';

              // Fill in random data.  At i==19 set the high bits of clock sequence as
              // per rfc4122, sec. 4.1.5
              for (i = 0; i < 36; i++) {
                  if (!uuid[i]) {
                      r = 0 | Math.random()*16;
                      uuid[i] = chars[(i == 19) ? (r & 0x3) | 0x8 : r];
                  }
              }
          }

          return uuid.join('');
      }
      function drawBubble(nodes,edges) {
          var width=900;
          var height= 800;
          var svg = d3.select("svg");
          svg.attr("x",500)
              .attr("y",600)
              .attr("width",width)
              .attr("height",height);

        // var nodes = [ { name: "桂林" }, { name: "广州" },
        //   { name: "厦门" }, { name: "杭州" },
        //   { name: "上海" }, { name: "青岛" },
        //   { name: "天津" } ,{name:"信阳"}];
        //
        // var edges = [ { source : 0 , target: 1 } , { source : 0 , target: 2 } ,   //试了下，source和target不能换名字的
        //   { source : 0 , target: 3 } , { source : 1 , target: 4 } ,
        //   { source : 1 , target: 5 } , { source : 1 , target: 6 } ,{source:2,target:7}];
        /*初始化force*/
          var force = d3.layout.force()
              .nodes(nodes)
              .links(edges)
              .size([width,height])     //作用力的中心区域
              .linkDistance(200)   //连线的长度
              .charge([-1500]);     //负数为排斥 正数为吸引
        /*很关键 启动force*/
        force.start();
        /*添加连线*/
        var svg_edges = svg.selectAll("line")
                .data(edges)
                .enter()
                .append("line")
                .attr("dx",function(d,i){
                  return i*20;
                })
                .attr("dy",function(d,i){
                  return i*30;
                })
                .style("stroke","#ccc")  //线条的颜色
                .style("stroke-width",1);//线条的宽度
        /*颜色*/
        var color = d3.scale.category20();
        /*添加节点*/
        var svg_nodes = svg.selectAll("circle")
                .data(nodes)
                .enter()
                .append("circle")
                .attr("cx",function(d,i){
                  return i*20;
                })
                .attr("cy",function(d,i){
                  return i*30;
                })
                .attr("r",30)
                .style("fill",function(d,i){
                  return color(i);
                })
                .call(force.drag);
        //调用drag函数使节点能被拖动
        /*添加描述节点的文字*/
        var svg_texts = svg.selectAll("text")
                .data(nodes)
                .enter()
                .append("text")
                .attr("class","good")
                .style("fill","black")
                .attr("dx",-10)               //文字相对node中心的移动
                .attr("dy",10)
                .text(function(d,i){         //返回节点的名字
                  return d.name;
                })
                .style("fill","white");


        force.on("tick", function(){
          //更新连线坐标
          svg_edges.attr("x1",function(d){ return d.source.x; })
                  .attr("y1",function(d){ return d.source.y; })
                  .attr("x2",function(d){ return d.target.x; })
                  .attr("y2",function(d){ return d.target.y; });

          //更新节点坐标
          svg_nodes.attr("cx",function(d){ return d.x; })
                  .attr("cy",function(d){ return d.y; });

          //更新文字坐标
          svg_texts.attr("x", function(d){ return d.x; })
                  .attr("y", function(d){ return d.y; });
        });
      }
  </script>
</html>